@import 'tailwindcss';

@theme {
 --font-sans: '', 'sans-serif';

 --text-16: 16px;

 --color-t-black: #232536;
 --color-t-yellow: #ffd050;
 --color-t-dark-grey: #4c4c4c;
 --color-t-medium-grey: #6d6e76;
 --color-t-purple: #592ea9;
 --color-t-light: #fff;
 --color-t-light-yellow: #fbf6ea;
 --color-t-light-grey: #f4f4f4;
 --color-t-lavender: #f4f0f8;

 --color-b-black: #232536;
 --color-b-yellow: #ffd050;
 --color-b-dark-grey: #4c4c4c;
 --color-b-medium-grey: #6d6e76;
 --color-b-purple: #592ea9;
 --color-b-light: #fff;
 --color-b-light-yellow: #fbf6ea;
 --color-b-light-grey: #f4f4f4;
 --color-b-lavender: #f4f0f8;

 --color-trp: transparent;

 --font-weight-300: 300;
 --font-weight-400: 400;
 --font-weight-500: 500;
 --font-weight-600: 600;
 --font-weight-700: 700;
 --font-weight-800: 800;
 --font-weight-900: 900;

 --leading-n: normal;
}

/* @media screen and (max-width: 1024px) {
 :root {
  --text-16: 50px;
 }
} */

/* @custom-variant dark (&:where(.dark, .dark *)); */

/* @font-face {
 font-family: '';
 font-style: normal;
 font-weight: 00;
 font-display: swap;
 src: url('../../fonts') format('woff2');
} */

@layer base {
 ::-webkit-scrollbar-button {
  @apply w-[6px] h-0;
 }
 ::-webkit-scrollbar-track {
  @apply bg-b-light shadow-[0px_0px_3px_var(--color-b-light)_inset];
 }
 ::-webkit-scrollbar-thumb {
  @apply rounded-[2px] bg-b-light;
 }
 ::-webkit-resizer {
  @apply w-[7px] h-0;
 }
 ::-webkit-scrollbar {
  @apply w-[7px];
 }
 body {
  @apply font-400 text-16 leading-n text-t-black bg-b-light;
 }
 body.j-lock {
  overflow: hidden;
 }
 input,
 select,
 button,
 textarea {
  outline: none;
 }
}
@layer components {
 .i-wrap {
  @apply relative flex;
 }
 .i-full {
  @apply absolute top-0 left-0 w-full h-full object-cover object-center;
 }
}
